body {
}

.mainDiv {
    background: #ffffff;
    padding: 5px;
}

#RideCheckFeedbackReportTable {
    width: 100%;
    margin: auto;
}

    #RideCheckFeedbackReportTable th {
        border: solid #ccc 1px;
        text-align: center;
    }

    #RideCheckFeedbackReportTable td {
        text-align: center;
        padding: 5px;
        border: solid #ccc 1px;
    }

.singlefailure {
    padding: 0px !important;
}

    .singlefailure table {
        width: 100%;
        margin-top: 1px;
    }

    .singlefailure td {
        text-align: left !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid #ccc 1px !important;
    }

.numberight {
    text-align: right;
}

.mainDivTable td {
    padding: 5px;
    border: 1px solid #ccc;
}
