@{
    ViewBag.Title = "二维码生成";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pageTitle
{
    @ViewBag.Title
}

@section js
{
    <script src="@Url.Content("/Areas/QRCodeManagement/Views/_js/CodeGenerate.js")"></script>
}

@*css*@
@section css{

}

<table style="margin-top: 10px;">
    <tr style="height: 50px;">
        @*<td>
            <button id="btnReset" type="button" style="width: 100px;" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe603;</i><span style="margin-left: 7px; float: left;">重新生成</span></button>
        </td>*@
        <td>
            <button id="btnSysNew" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe60e;</i><span style="margin-left: 7px; float: left;">新增</span></button>
        </td>
        <td>
            <button id="btnSysDelete" type="button" style="margin-left: 10px;" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe60a;</i><span style="margin-left: 7px; float: left;">删除</span></button>
        </td>
        <td>
            <button id="btnSave" type="button" style="margin-left: 10px;" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe614;</i><span style="margin-left: 7px; float: left;">保存</span></button>
        </td>
    </tr>
</table>
<!-- 顶部按钮 -->
<div class="mk" style="border-bottom: 0px;">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">二维码配置-系统</span></div>
        <div id="systemGrid" class="jqxTable" style="border-left: 0px;">
        </div>
    </div>
</div>
<table style="margin-top: 10px;">
    <tr style="height: 50px;">
        <td>
            <button id="btnNew" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe60e;</i><span style="margin-left: 7px; float: left;">新增</span></button>
        </td>
        <td>
            <button id="btnDelete" type="button" style="margin-left: 10px;" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe60a;</i><span style="margin-left: 7px; float: left;">删除</span></button>
        </td>

    </tr>
</table>
<div class="mk" style="border-bottom: 0px;">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">二维码配置-<span class="spSystem"></span>参数</span></div>
        <div id="grid" class="jqxTable" style="border-left: 0px;">
        </div>
    </div>

</div>
<center>
<div class="mk" style="border-bottom: 0px;">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div">
            <span class="header_text_span"><span class="spSystem"></span>二维码链接</span>
        </div>
    </div>
 
    <div style="margin-top: 30px; height: 100px;">
        <span class="header_text_span" id="spLink">二维码图案</span>
      @*  <img src="/UpLoadFile/QRCode/@ViewData["QRCode"]" alt="二维码"/>
        <h5 id="txtDesc" style="margin-top:10px;">扫一扫上面的二维码图案,获取我的信息</h5>*@
    </div>
</div>
</center>
<input type="hidden" id="txtHiddenVguid" value="@ViewData["Vguid"]"/>