<!DOCTYPE html>
@{
    AuthorityManageLogic _al = new AuthorityManageLogic();
    List<V_Sys_Role_Module> roleModulePermissionList = new List<V_Sys_Role_Module>();
    roleModulePermissionList = _al.GetCurrentUserPermissionList();

    string currentRole = CurrentUser.GetCurrentUser().Role;//当前用户角色
    string sysAdminVguid = DaZhongManagementSystem.Common.Tools.MasterVGUID.SysAdminRole;//sysadmin角色Vguid
    bool isSysAdmin = false;
    if (currentRole == sysAdminVguid)
    {
        isSysAdmin = true;
    }
    //string roleVguid = CurrentUser.GetCurrentUser().Role;
    //List<Sys_Role_Fixed> moduleList = _al.GetAllModule();//获取所有功能模块内容
    bool basicDataManagement = roleModulePermissionList.Any(i => i.PageID == 1 || i.PageID == 2);//基础数据
    bool exerciseManagement = roleModulePermissionList.Any(i => i.PageID == 3 || i.PageID == 12 || i.PageID == 15);//习题管理
    bool questionManagement = roleModulePermissionList.Any(i => i.PageID == 27 || i.PageID == 28);//问卷管理
    bool weChatPush = roleModulePermissionList.Any(i => i.PageID == 4 || i.PageID == 5 || i.PageID == 6 || i.PageID == 7 || i.PageID == 16);//微信推送
    bool reportManagement = roleModulePermissionList.Any(i => i.PageID == 8 || i.PageID == 14);//报表
    bool dailyLogManage = roleModulePermissionList.Any(i => i.PageID == 9);//日志
    bool systemManagement = roleModulePermissionList.Any(i => i.PageID == 10 || i.PageID == 11 || i.PageID == 13);//系统管理
    bool exerciseLibraryManagement = roleModulePermissionList.Any(i => i.PageID == 17 || i.PageID == 18);//习题库管理
    bool knowledgeBase = roleModulePermissionList.Any(i => i.PageID == 19 || i.PageID == 20);//知识库管理
    bool qrCode = roleModulePermissionList.Any(i => i.PageID == 21 || i.PageID == 22);  //二维码管理
    bool payment = roleModulePermissionList.Any(i => i.PageID == 23);  //付款
}
@using DaZhongManagementSystem.Entities.View;
@using DaZhongManagementSystem.Common;
@using DaZhongManagementSystem.Areas.Systemmanagement.Controllers.AuthorityManagement.BusinessLogic;
<html>
<head>
    <title></title>
    <style type="text/css">
        .menue_header {
            font-weight: 600;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid white !important;
            /*border-top: 1px solid #383e4c!important;*/
            background-color: white;
        }


        .menue_icon_header {
            width: 50px;
            text-align: center;
        }

        .menue_text_header {
            color: #989898 !important;
            font-size: 14px;
            width: 150px;
        }

        .iconfont_menue {
            color: #cdd0d8 !important;
            font-size: 15px;
        }

        .menue_icon {
            width: 50px;
            text-align: right;
        }

        .menue_text {
            font-size: 13px;
            color: #989898 !important;
            width: 200px;
            text-align: left;
            padding-left: 12px;
        }

        .menue_item {
            font-weight: 600;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid white !important;
            cursor: pointer;
        }

            .menue_item:hover {
                background-color: #249cd1;
            }

                .menue_item:hover td {
                    color: white !important;
                }

        .munue_ItemSelcted {
            background-color: #249cd1;
        }

            .munue_ItemSelcted td {
                color: white !important; /*当前选中的菜单项字体是白色的*/
            }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".menue_header").on('click', function () {
                var displayVal = $(this).next(".menue_body").css("display");
                switch (displayVal) {
                    case "block":
                        $(this).next(".menue_body").hide(300);
                        break;
                    case "none":
                        $(this).next(".menue_body").show(300);
                        $(".menue_body").not($(this).next(".menue_body")).hide(300);
                        break;
                }
            });
            $(".menue_item").on('click', function () {
                CookieHelper.SaveCookie(this.id);
                var url = $(this).attr("pageurl");
                window.location.href = url;
            });
        });


    </script>
</head>
<body style="background-color: #2D323D;">
    @{
        if (basicDataManagement || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">基础数据</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: block;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 1) || isSysAdmin)
                {
                    <tr class="menue_item" id="OrganizationManagement" pageurl="/BasicDataManagement/OrganizationManagement/OrganizationManagement">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">组织结构管理</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 2) || isSysAdmin)
                {
                    <tr class="menue_item" id="UserInfoManagement" pageurl="/BasicDataManagement/UserInfo/UserInfo">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">人员信息</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }
    @{
        if (exerciseManagement || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">习题管理</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: block;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 3) || isSysAdmin)
                {
                    <tr class="menue_item" id="ExerciseManagement" pageurl="/ExerciseManagement/ExerciseManagement/ExerciseList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">习题管理</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 12) || isSysAdmin)
                {
                    <tr class="menue_item" id="CheckExerciseManagement" pageurl="/ExerciseManagement/CheckedExercise/CheckedList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">已审核习题</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 15) || isSysAdmin)
                {
                    <tr class="menue_item" id="MarkingExercise" pageurl="/ExerciseManagement/MarkingExercise/MarkingExercise">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">习题阅卷</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }

    @{
        if (questionManagement || isSysAdmin)
        {
            <div class="menue_header">
                <table style="cursor: pointer;">
                    <tr>
                        <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                        <td class="menue_text_header">问卷管理</td>
                        <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                    </tr>
                </table>
            </div>
            <div class="menue_body" style="display: block;">
                <table>
                    @if (roleModulePermissionList.Any(i => i.PageID == 27) || isSysAdmin)
                {
                        <tr class="menue_item" id="QuestionManagement" pageurl="/QuestionManagement/QuestionManagement/QuestionList">
                            <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                            <td class="menue_text">问卷管理</td>
                            <td></td>
                        </tr>
                    }
                    @if (roleModulePermissionList.Any(i => i.PageID == 28) || isSysAdmin)
                {
                        <tr class="menue_item" id="CheckQuestionManagement" pageurl="/QuestionManagement/CheckedQuestion/CheckedList">
                            <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                            <td class="menue_text">已审核问卷</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        }
    }

    @{
        if (exerciseLibraryManagement || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">习题库管理</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: block;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 17) || isSysAdmin)
                {
                    <tr class="menue_item" id="ExerciseLibraryManagement" pageurl="/ExerciseLibraryManagement/ExerciseLibraryManagement/ExerciseLibraryList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">草稿习题</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 18) || isSysAdmin)
                {
                    <tr class="menue_item" id="CheckExerciseLibraryManagement" pageurl="/ExerciseLibraryManagement/CheckedExerciseLibrary/CheckedList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">正式习题</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }

    @{
        if (knowledgeBase || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">知识库管理</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: block;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 19) || isSysAdmin)
                {
                    <tr class="menue_item" id="draftKnowledge" pageurl="/KnowledgeBaseManagement/Draft/DraftList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">草稿列表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 20) || isSysAdmin)
                {
                    <tr class="menue_item" id="formalKnowledge" pageurl="/KnowledgeBaseManagement/Formal/FormalList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">正式列表</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }


    @{
        if (weChatPush || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">微信推送</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>

        </div>
        <div class="menue_body" style="display: none;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 4) || isSysAdmin)
                {
                    <tr class="menue_item" id="DraftList" pageurl="/WeChatPush/DraftList/DraftList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">草稿列表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 5) || isSysAdmin)
                {
                    <tr class="menue_item" id="CommitedList" pageurl="/WeChatPush/CommitedList/CommitedList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">已提交列表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 6) || isSysAdmin)
                {
                    <tr class="menue_item" id="CheckedList" pageurl="/WeChatPush/CheckedList/CheckedList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">已审核列表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 7) || isSysAdmin)
                {
                    <tr class="menue_item" id="PushedList" pageurl="/WeChatPush/PushedList/PushedList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">已推送列表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 16) || isSysAdmin)
                {
                    <tr class="menue_item" id="history" pageurl="/WeChatPush/History/History">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">推送历史</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 25) || isSysAdmin)
                {
                    <tr class="menue_item" id="agreement" pageurl="/WeChatPush/AgreementOperation/AgreementOperationList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">协议操作历史</td>
                        <td></td>
                    </tr>                     
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 26) || isSysAdmin)
                {
                    <tr class="menue_item" id="RedpacketMoney" pageurl="/WeChatPush/RedPacketOperation/RedPacketOperationList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">红包领取历史</td>
                        <td></td>
                    </tr>            
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 26) || isSysAdmin)
                {
                    <tr class="menue_item" id="payment" pageurl="/WeChatPush/PaymentOperation/Index">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">企业付款历史</td>
                        <td></td>
                    </tr>            
                }
            </table>
        </div>
        }
    }

    @{
        if (payment || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">支付</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div> 
        <div class="menue_body" style="display: none;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 23) || isSysAdmin)
                {
                    <tr class="menue_item" id="PaymentHistory" pageurl="/PaymentManagement/PaymentHistory/PaymentHistory">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">支付历史</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }

    @{
        if (reportManagement || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">报表</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: none;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 8) || isSysAdmin)
                {
                    <tr class="menue_item" id="ScoreRecords" pageurl="/ReportManagement/ScoreReport/ScoreReport">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">成绩报表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 14) || isSysAdmin)
                {
                    <tr class="menue_item" id="PushMsgRecords" pageurl="/ReportManagement/PushMsgReport/PushMsgReport">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">推送报表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 24) || isSysAdmin)
                {
                    <tr class="menue_item" id="PaymentRecords" pageurl="/ReportManagement/PaymentReport/PaymentReport">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">支付报表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 29) || isSysAdmin)
                {
                    <tr class="menue_item" id="QuestionRecords" pageurl="/ReportManagement/QuestionReport/QuestionReport">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">问卷报表</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 29) || isSysAdmin)
                {
                    <tr class="menue_item" id="RideCheckFeedbackReport" pageurl="/ReportManagement/RideCheckFeedbackReport/SelectionRatioReport">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">跳车检查报表</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }
    @{
        if (dailyLogManage || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">操作日志</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: none;">
            <table>
                <tr class="menue_item" id="OperationLogManagement" pageurl="/DailyLogManagement/LogManagement/LogManagement">
                    <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                    <td class="menue_text">日志管理</td>
                    <td></td>
                </tr>

            </table>
        </div>
        }
    }
    @{
        if (systemManagement || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">系统管理</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: none;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 10) || isSysAdmin)
                {
                    <tr class="menue_item" id="UserManagement" pageurl="/Systemmanagement/UserManage/UserManagement">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">用户管理</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 11) || isSysAdmin)
                {
                    <tr class="menue_item" id="AuthorityManagement" pageurl="/Systemmanagement/AuthorityManagement/AuthorityManagement">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">角色权限管理</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 13) || isSysAdmin)
                {
                    <tr class="menue_item" id="ConfigManagement" pageurl="/Systemmanagement/ConfigManagement/ConfigManagement">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">配置文件管理</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }
    @{
        if (qrCode || isSysAdmin)
        {
        <div class="menue_header">
            <table style="cursor: pointer;">
                <tr>
                    <td class="menue_icon_header"><i class="icon iconfont iconfont_menue">&#xe61d;</i></td>
                    <td class="menue_text_header">二维码管理</td>
                    <td align="center" style="width: 50px; font-weight: normal; color: white;"></td>
                </tr>
            </table>
        </div>
        <div class="menue_body" style="display: none;">
            <table>
                @if (roleModulePermissionList.Any(i => i.PageID == 21) || isSysAdmin)
                {
                    <tr class="menue_item" id="generatioCode" pageurl="/QRCodeManagement/CodeGenerate/Index">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">二维码生成</td>
                        <td></td>
                    </tr>
                }
                @if (roleModulePermissionList.Any(i => i.PageID == 22) || isSysAdmin)
                {
                    <tr class="menue_item" id="scanCode" pageurl="/QRCodeManagement/ScanHistory/ScanHistoryList">
                        <td class="menue_icon"><i class="icon iconfont iconfont_menue">&#xe618;</i></td>
                        <td class="menue_text">扫码历史</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        }
    }
</body>
</html>
