<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        $(function () {

            $("#shrinkMenue").on('click', function () {
                var menueDisplay=$(".left_content").css("display");
              var width=  $(document).width()-40;
                 $(".left_content").toggle(200);
                 if (menueDisplay == "block") {
                     $(".jqxTable").jqxDataTable({ width: width });
                 }
                 else {
                     width = width - 210;
                     $(".jqxTable").jqxDataTable({ width: width });
                 }
               
            });
            $("#gotoHome").on('click', function () {
                window.location.href = "/Main/Index";
            });

            
        });
        

    </script>
   
     <style>
        .dropdown-menu
        {
            min-width: 0px;
        }

        .caret
        {
            border-top-color: white;
        }
    </style>
</head>
<body>
    <div style="width: 100%; height: 60px;">
        <table  style="width:100%; border:0px; border-collapse:0; border-spacing:0;">
            <tr style="height:60px; line-height:60px;">
                <td align="right" style="width:70px;"><i id="shrinkMenue" class="icon iconfont" style="font-size:30px; cursor:pointer; color:white;">&#xe617;</i></td>
                <td style="color:white; font-size:28px; font-family:Calibri; padding-left:20px; font-weight:bold;"><span id="gotoHome" style="cursor:pointer;">大众企业号后台管理系统</span></td>
                <td></td>
                <td style="width:45px;">
                    <img src="../../_theme/images/1076213.gif" style="border-radius:99px; width:30px;" /></td>
                <td style="width: 120px; color: white; font-size: 14px; font-family: Calibri;">
                    <div class="dropdown">

                        <a id="drop5" href="#" style="color: white; text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @DaZhongManagementSystem.Common.CurrentUser.GetCurrentUser().LoginName
                            <span class="caret" style="color: white;"></span>
                        </a>
                        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5" >                            
                            <li role="presentation"><a role="menuitem" id="aChangePwd" href="#" tabindex="1" >修改密码</a></li>
                            <li role="presentation"><a role="menuitem" id="aLogout" tabindex="2" href="#">退出系统</a></li>
                        </ul>
                    </div>
                </td>

            </tr>

        </table>
    </div>


    
</body>
</html>
