@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OperatingGuide</title>
</head>
<body>
    <div>
        <p style="text-align: center">
            <span style="font-size: 19px; font-family: 宋体">“大众交通出租分公司”微信企业号操作指南</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px">
            <span style="font-size: 19px; font-family: 宋体">1、<span style="font-stretch: normal; font-size: 9px; font-family: &#39; Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 19px; font-family: 宋体">通过微信搜索企业号“大众交通出租分公司”名称或扫其二维码进行关注。</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px">
            <span style="font-size: 19px; font-family: 宋体">2、<span style="font-stretch: normal; font-size: 9px; font-family: &#39; Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 19px; font-family: 宋体">关注之后进行身份认证，填写身份证号、工号（选填）并选择所属部门，后台验证通过之后则关注企业号成功。</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px">
            <span style="font-size: 19px; font-family: 宋体">3、<span style="font-stretch: normal; font-size: 9px; font-family: &#39; Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 19px; font-family: 宋体">关注成功之后，可以接受各种消息推送。“企业号”第一期功能包括：公告/通知消息推送、在线培训、在线考试、营收数据查询（第一期只针对出租车驾驶员开放此功能）。</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px; text-indent: 0">
            <strong><span style="font-size: 19px; font-family: 宋体">在线培训</span></strong><span style="font-size: 19px; font-family: 宋体">：主要覆盖每月管理人员及驾驶员岗中培训内容。</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px; text-indent: 0">
            <strong><span style="font-size: 19px; font-family: 宋体">在线考试</span></strong><span style="font-size: 19px; font-family: 宋体">：针对培训教材进行相应的考试，每次考试都设立及格分数线。分数不合格，将会提供三次补考机会，如未能合格请联系分公司进行线下培训并补考。</span>
        </p>
        <p class="MsoListParagraph" style="margin-left: 48px; text-indent: 0">
            <strong><span style="font-size: 19px; font-family: 宋体">营收数据查询</span></strong><span style="font-size: 19px; font-family: 宋体">：第一期对象为出租车驾驶员。可通过短信方式查收个人营收数据（数据均为前一天）。每月每位驾驶员可免费查收三次营收数据。</span>
        </p>
        <p>
            <br />
        </p>
    </div>
</body>
</html>
