<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--webAPP的一些常用设置-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="@Url.Content("~/Areas/WeChatPush/Views/_css/RevenuePay.css")" rel="stylesheet" />
    <title>其他支付</title>
</head>
<body>
    <header>
        <div class="h_bottom">
            <span>支持支付宝、微信、百度钱包、京东钱包、QQ钱包等!
            </span>

        </div>
    </header>
</body>
</html>
