@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>退出系统</title>
     <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript">

        $(function () {
            window.close();
        });

    </script>
</head>
<body>
     
</body>
</html>
