@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>登录超时</title>
</head>
<body style="background-color: #375471 !important;">


    <div style="height: 300px; width: 450px; text-align: center; margin-left: auto; margin-right: auto; background-color: white; font-size: 20px; font-weight: bold; color: red; border-radius: 8px; margin-top: 100px;">
        <table style="width: 100%;">
            <tr style="height: 150px;">
                <td>
                    <img src="/Views/_img/error_noApplication.png" />
                </td>
            </tr>
            <tr>
                <td>您的登录凭证已超时，请重新登录系统！</td>
            </tr>
        </table>

    </div>
</body>
</html>
