@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<video width="800" height="auto" controls="controls">
			<source src="http://172.16.3.55:8099/movie.mp4" type="video/mp4"></source>
		<video>
	</body>
<html>

